openapi: 3.0.3
info:
  title: TrueStar API
  description: API for fake review detection services
  version: 1.0.0
  contact:
    name: TrueStar Team
    email: hello@truestar.pro

servers:
  - url: https://api.truestar.pro
    description: Production
  - url: http://localhost:3001
    description: Local development

paths:
  /health:
    get:
      summary: Health check endpoint
      operationId: getHealth
      tags:
        - System
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /check/amazon/reviews:
    post:
      summary: Check Amazon reviews for authenticity
      operationId: checkAmazonReviews
      tags:
        - Reviews
        - Amazon
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckAmazonReviewsRequest'
      responses:
        '200':
          description: Review check completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckAmazonReviewsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    HealthResponse:
      type: object
      required:
        - status
        - timestamp
      properties:
        status:
          type: string
          enum: [ok]
          example: ok
        timestamp:
          type: string
          format: date-time
          example: '2024-12-22T10:00:00.000Z'

    CheckAmazonReviewsRequest:
      type: object
      required:
        - reviews
      properties:
        reviews:
          type: array
          minItems: 1
          description: Array of review texts to analyze
          items:
            type: string
            minLength: 1
            description: The review text
            example: "This product is amazing! Best purchase ever!"

    CheckAmazonReviewsResponse:
      type: object
      required:
        - result
        - timestamp
      properties:
        result:
          $ref: '#/components/schemas/ReviewChecker'
        timestamp:
          type: string
          format: date-time
          example: '2024-12-22T10:00:00.000Z'

    ReviewChecker:
      type: object
      required:
        - isFake
        - confidence
        - reasons
        - flags
        - summary
      properties:
        isFake:
          type: boolean
          description: Whether the review is likely fake
          example: true
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Confidence level of the analysis (0-1)
          example: 0.85
        reasons:
          type: array
          items:
            type: string
          description: Specific reasons for the assessment
          example: ["Excessive positivity without specific details", "Generic language patterns"]
        flags:
          type: array
          items:
            $ref: '#/components/schemas/ReviewFlag'
          description: Detected red flags
          example: ["excessive_positivity", "generic_language"]
        summary:
          type: string
          description: Brief explanation of the analysis
          example: "Review appears fake due to generic praise without specific product details"

    ReviewFlag:
      type: string
      enum:
        - generic_language
        - excessive_positivity
        - incentivized_review
        - competitor_mention
        - unnatural_language
        - repetitive_phrases
        - suspicious_timing
        - verified_purchase_missing
      description: Possible red flags in reviews

    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          description: Error message
          example: "Invalid request"
        details:
          type: string
          description: Additional error details
          example: "Review text is required"

tags:
  - name: System
    description: System health and status endpoints
  - name: Reviews
    description: Review checker endpoints
  - name: Amazon